replicaCount: 3

image:
  repository: maortaieb/k8s-web-hello
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 3100

resources:
  limits:
    cpu: "250m"
    memory: "128Mi"

